@model WebApp.Models.Casts

@{
    ViewData["Title"] = "Create";
}
<style media="screen">
    body {
        background-image: url( @ViewBag.backImg );
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-dark{
        background-color: @ViewBag.MainColor!important
    }
</style>

<h1>Create</h1>

<h4>Casts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActorID" class="control-label"></label>
				<br/>
                <select style="width: -webkit-fill-available;" class="search-select form-control" asp-for="ActorID">
					<option selected disabled>--none--</option>
				</select>
            </div>
            <div class="form-group">
                <label asp-for="CharacterID" class="control-label"></label>
				<br/>
                <select style="width: -webkit-fill-available;" class="search-select form-control" asp-for="CharacterID">
					<option selected disabled>--none--</option>
				</select>
            </div>
            <div class="form-group">
                <label asp-for="FirstAppereance" class="control-label"></label>
                <input asp-for="FirstAppereance" class="form-control" />
                <span asp-validation-for="FirstAppereance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastAppereance" class="control-label"></label>
                <input asp-for="LastAppereance" class="form-control" />
                <span asp-validation-for="LastAppereance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-seriesID="@ViewBag.seriesID">Back to List</a>
</div>
<div id="result">

</div>

<script>
    var $jsSelectActor = $(".search-select#ActorID");
	$jsSelectActor.select2({
		minimumInputLength: 2,
        ajax: {
            url: '/Actors/Search',
            data: function (term) {
                return {
                    "text": JSON.stringify(term.term),
                };
            },
            processResults: function (data) {
                return {
                    results: data
				}
  				
            },
			delay: 1000,
			width: 'resolve'
        }
    });
	var $jsSelectCharacter = $(".search-select#CharacterID");
	$jsSelectCharacter.select2({
		minimumInputLength: 2,
        ajax: {
            url: '/Characters/Search',
            data: function (term) {
                return {
                    "text": JSON.stringify(term.term),
					"seriesID" : JSON.stringify(@ViewBag.SeriesID)
                };
            },
            processResults: function (data) {
                return {
                    results: data
				}
  				
            },
			delay: 1000,
			width: 'resolve'
        }
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}